<tr style="width: 800px">
    <td rowspan="2">{{ travelOrder.data(page, i, "date") }}</td>
    <td class="noOverflow150">{{ travelOrder.data(page, i, "from") }}</td>
    <td>{{ travelOrder.data(page, i, "time_from") }}</td>
    <td rowspan="2">{{ travelOrder.data(page, i, "vehicle") }}</td>
    <td rowspan="2" class="alignRight">{{ travelOrder.data(page, i, "distance") }}</td>
    <td rowspan="2">&nbsp;</td>
    <td>&nbsp;</td>
    <td rowspan="2" class="alignRight">{{ travelOrder.data(page, i, "e_fare") }}</td>
    <td rowspan="2" class="alignRight">{{ travelOrder.data(page, i, "e_diet") }}</td>
    <td rowspan="2" class="alignRight">{{ travelOrder.data(page, i, "e_overnight") }}</td>
    <td rowspan="2" class="alignRight">{{ travelOrder.data(page, i, "e_other") }}</td>
    <td rowspan="2" class="alignRight">{{ travelOrder.data(page, i, "e_total") }}</td>
    <td rowspan="2" class="alignRight">&nbsp;</td>
</tr>
<tr>
    <td class="noOverflow150">{{ travelOrder.data(page, i, 'to') }}</td>
    <td>{{ travelOrder.data(page, i, "time_to") }}</td>
    <td>&nbsp;</td>
</tr>