{% extends 'base.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block body %}
    
    <div style="width: 400px">
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ saveStatus }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
