{% extends 'base.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block body %}
    {{ knp_menu_render('main') }}
    {{ saveStatus }}
    <div style="width: 500px">
    {% form_theme form  with ['bootstrap_3_horizontal_layout.html.twig', ':vehicle:form-create-theme.html.twig'] %}
    {{ form_stylesheet(form) }}
    {{ form_javascript(form) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

