<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% javascripts '@base_js' filter='?uglifyjs2, js_filter' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% stylesheets '@base_css'
                    'bundles/projbase/css/standard/grid.css'
                    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>
<br />
<div><a href="{{ path('proj_bussinestrip_user_index') }}">User administration</a> </div>
<div><a href="{{ path('proj_bussinestrip_vehicle_index') }}">Vehicle administration</a> </div>
<br />
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
