{% extends 'ProjBaseBundle::layout.html.twig' %}
{% block body %}
    <button type="button" class="btn btn-default" onclick="window.location.href='{{ path('proj_bussinestrip_report_tripdetail') }}?id={{ trip.id }}'">
        <span class="glyphicon glyphicon-16 glyphicon-print"></span>
        <span style="font-size: 14px">{{ "form.output.print"|trans }}</span>
    </button>
    <button type="button" class="btn btn-default" onclick="window.location.href='{{ path('proj_bussinestrip_report_tripdetailpdf') }}?id={{ trip.id }}'">
        <span class="glyphicon glyphicon-16 glyphicon-print"></span>
        <span style="font-size: 14px">{{ "form.output.pdf"|trans }}</span>
    </button>
    <div><h2>{{ 'trip.bussines.trip'|trans }}</h2>
        <table>
            <tr>
                <th>
                    {{ 'vehicle.vehicle'|trans }}
                </th>
                <td>
                    {{ trip.vehicle.name }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'trip.time.from'|trans }}
                </th>
                <td>
                    {{ formatter.timestamp(trip.timeFrom, constant('\FormatterInterface::FORMAT_DATE_TIME')) }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'trip.time.to'|trans }}
                </th>
                <td>
                    {{ formatter.timestamp(trip.timeTo, constant('\FormatterInterface::FORMAT_DATE_TIME')) }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'trip.point.from'|trans }}
                </th>
                <td>
                    {{ trip.pointFrom }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'trip.point.to'|trans }}
                </th>
                <td>
                    {{ trip.pointTo }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'trip.purpose'|trans }}
                </th>
                <td>
                    {{ trip.purpose }}
                </td>
            </tr>
        </table>
    </div>
    <h3>{{ 'trip.user.title'|trans }}</h3>
    <button type="button" class="btn btn-success" onclick="{{ editTripUserDialog.render(false, false) }}">
        <span class="glyphicon glyphicon-16 glyphicon-plus"></span>
        <span style="font-size: 14px">{{ 'form.add'|trans }}</span>
    </button>
    <div>
        {{ tripUserGrid.render(false)|raw }}
    </div>
    <br />
    <h3>{{ 'expense.expense'|trans }}</h3>
    <button type="button" class="btn btn-success" onclick="{{ editExpenseDialog.render(false, false) }}">
        <span class="glyphicon glyphicon-16 glyphicon-plus"></span>
        <span style="font-size: 14px">{{ 'form.add'|trans }}</span>
    </button>
    <div>
        {{ expenseGrid.render(false)|raw }}
    </div>
    <br />
    <h3>{{ 'trip.point.title'|trans }}</h3>
    <button type="button" class="btn btn-success" onclick="{{ editTripPointDialog.render(false, false) }}">
        <span class="glyphicon glyphicon-16 glyphicon-plus"></span>
        <span style="font-size: 14px">{{ 'form.add'|trans }}</span>
    </button>
    <div>
        {{ tripPointGrid.render(false)|raw }}
    </div>
{% endblock %}

